*::-webkit-scrollbar {
  width: var(--spacing-3);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  margin: 0 4px;
  background-color: var(--scrollbar-thumb);
  /* border-radius: var(--border-radius-lg); */
}
