:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary-50: #ecfeff;
  --color-primary-100: #cffafe;
  --color-primary-200: #a5f3fc;
  --color-primary-300: #67e8f9;
  --color-primary-400: #22d3ee;
  --color-primary-500: #06b6d4;
  --color-primary-600: #0891b2;
  --color-primary-700: #0e7490;
  --color-primary-800: #155e75;
  --color-primary-900: #164e63;
  --color-primary-950: #083344;

  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-850: #18202f;
  --color-neutral-900: #111827;
  --color-neutral-925: #0c111d;
  --color-neutral-950: #030712;
  --color-neutral-975: #02040a;

  /* Typography */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;

  --font-family-header: "Rubik", "sans-serif";
  --font-family-body: "Nunito Sans", "sans-serif";

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --line-height-header: 125%;
  --line-height-body: 150%;

  /* Spacing */
  --spacing-05: 0.125em;
  --spacing-1: 0.25em;
  --spacing-2: 0.5em;
  --spacing-3: 0.75em;
  --spacing-4: 1em;
  --spacing-5: 1.25em;
  --spacing-6: 1.5em;
  --spacing-7: 1.75em;
  --spacing-8: 2em;

  /* Width */
  --width-11: 2.75rem;

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-base: 8px;
  --border-radius-lg: 12px;

  /* Box Shadow */
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
}
