.form-group {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: var(--color-neutral-925);
  border: none;
  border-radius: var(--border-radius-base);
  padding: var(--spacing-4);
  color: var(--color-neutral-100);

  &.input--large {
    font-size: var(--font-size-lg);
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
  }
}
