.form-group {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: var(--bg-input);
  border: none;
  border-radius: var(--border-radius-base);
  padding: var(--spacing-4);
  color: var(--text-primary);

  &::placeholder {
    color: var(--text-tertiary);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary-500);
  }
}
