.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-2);
  
  &--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  &--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  &--cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  
  &--cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  
  &--cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  
  &--cols-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}