@import "./css/libs/normalize.css";
@import "./css/variables/variables.css";
@import "./css/base/scrollbar.css";
@import "./css/base/typography.css";

.bg-page {
  background: var(--color-neutral-975);
}

.fill-sky-500 {
  fill: var(--color-primary);
}

.w-5 {
  width: var(--spacing-5);
}
